/* styles.css */
body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*SECCION DE CUADRO DE ENTRENADORES*/
.titulo{
  margin-left:30%;
  margin-right: 30%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  padding: 2%;
}

#login{
  display: flex ;
  justify-content: flex-end ;
  border-radius: 5rem ;
}

#login img{
  height: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0px;
  margin-right: 10px;
}

.card{
  margin: 15%;
}

.card-body{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;

}

.card-text, .card-title{
  color: #fff;
  text-align: center;
}

.card-img-top{
  opacity: 1;
  border-radius: 10rem;
}

/*FOOTER*/

.dark-footer {
  color: #fff;
  padding: 0px 0;
  margin-top: auto;
  width: 100%;
}

.footer-logo {
  max-width: 100px;
  /* Ajusta el tamaño máximo de la imagen */
}

.redes {
  padding: 7px;
}

.container {
  position: relative;
}



/*PANTALLAS DE CELULAR*/
@media screen and (max-width:767px) {

  body {
    background-image: url('img/fondo.jpg');
  }
  main{
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .seccionTrainer{
    margin-top: 15%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .card{
    margin: 4%;
  }
  #trainer1{
    background-image: url('img/trainer3Celular.jpg');
  }
  #trainer2{
    background-image: url('img/fotoperfilCelular.jpg');
  }
  .titulo{
    margin-left:10%;
    margin-right: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
  }
  
  .card-body{
    background: rgba(0, 0, 0, 0.7);  
  }

}

/*PANTALLAS GRANDES*/
@media screen and (min-width: 1800px) {

  body {
    background-image: url('img/fondo 2.jpg');
  }
  .seccionTrainer{
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
  }
}

/*PANTALLAS MEDIANAS*/
@media screen and (min-width:768px) and (max-width:1799px) {

  body {
    background-image: url('img/fondo 2.jpg');
  }
  .seccionTrainer{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  .titulo{
    margin-left:10%;
    margin-right: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
  }
}