/* styles.css */
body {
  background-image: url('img/fondo 2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark-footer {
  color: #fff;
  padding: 0px 0;
  margin-top: auto;
  width: 100%;
}

.row-1{
  padding: 5px;
}

.Contador {
  text-align: center; /* Centra horizontalmente en la página */
  margin-top: 50px; 
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 10vw;
}

.footer-logo {
  max-width: 100px;
  /* Ajusta el tamaño máximo de la imagen */
}

.main {
  flex: 1;
}

.col {
  background-color: white;
  margin: 10px;
  height: 80px;
}

.af {
  color: #F0CE12;

}

.af1 {
  color: white;

}

.redes {
  padding: 7px;
}

.mainN {
  width: 500px;

  position: absolute;
  top: 30%;
  left: 32%;
}


.container {
  position: relative;
}


.ContnedorEntrenador {
  margin: 30px;
}

.ContnedorEntrenador td a,
p {
  margin: 100px;
  align-items: center;
  text-align: center;
  padding: 20px;

}

.ContnedorEntrenador td a img {
  border-radius: 2rem;
}