/* styles.css */
body {
  background-image: url('img/fondo 2.jpg'); /* Ruta a tu imagen de fondo */
  background-size: 1490px 655px;
  background-repeat: no-repeat;
}

.dark-footer {
  color: #fff; /* Texto claro */
  padding: 0px 0; /* Espaciado interno */
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-logo {
  max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
}

.aforo{
  pad
}

.main{
  width: 400px;
  
  position: absolute ;
  top: 35%;
  left: 34%;
}

.row-1{
  background-color: ;
  padding: 20px;
  margin: 0px;
  height: 170px;

}

.col {
  background-color: white;
  margin:5px ;
  height: 90px;
}

.af{
color: #F0CE12;
}
.af1{
color:white;
}

.redes {
  padding: 7px;
}
.mainN{
  width: 500px;
  
  position: absolute ;
  top: 30%;
  left: 32%;
}


.container{
  position: relative;
}

.ex1{
  margin: 10px 3px 30px 30px;
}