/* styles.css */
body {

  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*ENCABEZADO*/

#login{
  display: flex ;
  justify-content: flex-end ;
  border-radius: 5rem ;
}

#login svg{
  height: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0px;
  margin-right: 10px;
  width: auto;
}

li#login a:hover .loglog circle,
li#login a:hover .loglog path {
    stroke: white; /* Cambia el color del trazo a blanco en el hover */
}


/*MAIN DE LA PÁGINA*/

.main {
  flex: 1;
  margin-top: 4%;
  margin-bottom: 4%;
}

/*Seccion 1*/

.seccion1{
  align-content: center;
  display: flex;
  position: relative;
  margin: 5%;
  padding: 3%;
  overflow: hidden;
  border-radius: 6px;
  background-color: #171618;
  opacity: 0.85;
}

.box{
  color: #fff;
  text-align: center;
}
/*PANTALLAS DE CELULAR*/
@media screen and (max-width:767px) {
  .box h7{
    font-size: 13px;
  }
  .box p{
    font-size: 18px;
    margin-bottom: 25px;
  }
  .seccion1{
    padding: 7%;
  }
  body {
    background-image: url('../img/fondo.jpg');
  }
  .main{
    margin-top: 28%;
    margin-bottom: 28%;
  }
}
/*PANTALLAS GRANDES*/
@media screen and (min-width: 1800px) {
  .box h7{
    font-size: 25px;
  }
  .box p{
    font-size: 35px;
    margin-bottom: 60px;
  }
  body {
    background-image: url('../img/fondo 2.jpg');
  }
}
/*PANTALLAS MEDIANAS*/
@media screen and (min-width:768px) and (max-width:1799px) {
  .box h7{
    font-size: 20px;
  }
  .box p{
    font-size: 26px;
    margin-bottom: 60px;
  }
  .seccion1{
    padding: 4%;
  }
  body {
    background-image: url('../img/fondo 2.jpg');
  }
}

.border-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #fcc23f);
  animation: animate-border-top 2s linear infinite;
}
@keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.border-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #171618, #fcc23f);
  animation: animate-border-right 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.border-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #fcc23f);
  animation: animate-border-bottom 2s linear infinite;
}
@keyframes animate-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.border-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, #171618, #fcc23f);
  animation: animate-border-left 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.col {
  background-color: white;
  margin: 10px;
  height: 80px;
}


/*FOOTER */
.dark-footer {
  color: #fff;
  padding: 0px 0;
  margin-top: auto;
  width: 100%;
}

.redes {
  padding: 7px;
}

.footer-logo {
  max-width: 100px;
  /* Ajusta el tamaño máximo de la imagen */
}