/* styles.css */
body {
  background-image: url('img/fondo 2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark-footer {
  color: #fff;
  padding: 0px 0;
  margin-top: auto;
  width: 100%;
}

.row-1 {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 8px;
}

.Contador {
  text-align: center;
  /* Centra horizontalmente en la página */
  margin-top: 9%;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 10vw;
}

.footer-logo {
  max-width: 100px;
  /* Ajusta el tamaño máximo de la imagen */
}

.main {
  flex: 1;
}

#login{
  display: flex ;
  justify-content: flex-end ;
  border-radius: 5rem ;
}

#login svg{
  height: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0px;
  margin-right: 10px;
  width: auto;
}

li#login a:hover .loglog circle,
li#login a:hover .loglog path {
    stroke: white; /* Cambia el color del trazo a blanco en el hover */
}

.col {
  background-color: white;
  margin: 10px;
  height: 80px;
  border-radius: 10px;
}

.af {
  color: #F0CE12;

}

.af1 {
  color: white;

}

.redes {
  padding: 7px;
}

.container {
  position: relative;
}

/*PANTALLAS DE CELULAR*/
@media screen and (max-width:767px) {

  body {
    background-image: url('../img/fondo.jpg');
  }
  main{
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .Contador{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
  }

}

/*PANTALLAS GRANDES*/
@media screen and (min-width: 1800px) {

  body {
    background-image: url('../img/fondo 2.jpg');
  }
  .Contador{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 20vw;
  }
}

/*PANTALLAS MEDIANAS*/
@media screen and (min-width:768px) and (max-width:1799px) {

  body {
    background-image: url('../img/fondo 2.jpg');
  }
  .Contador{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 20vw;
  }
}